body{
  padding-top:80px;
  word-wrap:break-word;
  background: url(./img/pampas.jpeg) no-repeat center;
  background-size: cover;
  font-family: cursive;
  height: 100vh;
}

h1{
  color: white;
}

img{
  height: 200px;
}

.hidden {
  display:none;
}

.jumbotron {
  height: 600px;
  width: 100%;
  background-color: transparent;
}
